<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form name="registrationForm">
	<div class="form-group">
		<label>Käyttäjätunnus</label>
		<input type="text" class="form-control" name="username" ng-model="user.username" required>
	</div>

	<div class="form-group">
		<label>Salasana</label>
		<input type="text" class="form-control" name="password" ng-model="user.password" required>
	</div>

	<div class="form-group">
		<label>Salasana uudelleen</label>
		<input type="text" class="form-control" name="passwordConfirm" ng-model="passwordConfirm" match="user.password" required>
	</div>

	<button class="btn btn-success" type="submit" ng-click="register();" ng-disabled="registrationForm.$invalid">Rekisteröidy</button>
</form>
